* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Arial";
}

.parentDiv {
  margin: 5% auto; /* top: 5%, left-right auto, bottom: 0 */
  max-width: 720px;
  min-height: 300px;
}

/* Tabs Item */
.tabs {
  display: flex;
  position: relative;
}

.tabs .line {
  position: absolute;
  background-color: #ff3530;
  border-radius: 15px;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  transition: all 0.2s ease;
}

.tab-item {
  min-width: 80px;
  padding: 16px 14px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #ff3530;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
  opacity: 1;
}

/* Tabs Content */
.tab-content {
  padding: 28px 0;
}

.tab-panel {
  color: #333;
  display: none;
}

.tab-panel.active {
  display: block;
}

.tab-panel h2 {
  margin-bottom: 8px;
  font-size: 24px;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .tab-item {
  color: #fff;
  background: none;
}

body.dark-mode .tab-item.active {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode .tab-item:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

body.dark-mode .tab-content {
  background-color: #121212;
}

body.dark-mode .tab-panel h2 {
  color: #ffffff;
}

body.dark-mode .tab-panel p {
  color: #cccccc;
}

body.dark-mode .tabs .line {
  background-color: #ffffff;
}

/* Dark Mode Tab Specific Styles */
.tab-item.dark {
  color: #000; /* Màu vàng cho tab Dark Mode */
}

body.dark-mode .tab-item.dark {
  color: #fff;
}

body.dark-mode .tab-item.dark:hover {
  border-color: rgba(255, 255, 0, 0.2);
}
